{{>header}}
{{>navbar}}
<section class="container-flued">
    <div class="alert alert-danger">
        <h2>invalid page</h2>
        <a href="/" class="btn btn-success"> Back to home</a>
    </div>

</section>
{{>footer}}
