{{>header}}
{{>navbar}}
<section class="container my-5">
    <form class="form" >
        {{!-- <input type="number" name="id">  --}}
        <label >Customer Id</label>
        <input type="number" name="custid" placeholder="Enter Customer ID" class="form-control my-3 w-50">
        <label >Customer Name</label>
        <input type="text" name="custname" placeholder="Enter Customer Name" class="form-control my-3 w-50">
        <label >Customer Balance</label>
        <input type="text" name="custBalance" placeholder="Enter Customer Balance" class="form-control my-3 w-50">
        <input type="submit" value="Submit" class="form-control w-25 btn-primary my-3" >

    </form>

</section>
{{>footer}}