{{>header}}
{{>navbar}}
<section class="container my-5">
    <form class="form" >
        {{!-- <label >Customer Name</label>
        <input type="text" name="custname" placeholder="Enter Customer Name" class="form-control my-3 w-50"> --}}
        <label >Customer New balance</label>
        <input type="number" name="custNewbalance" placeholder="Enter Customer Balance" class="form-control my-3 w-50">
        <input type="submit" value="Submit" class="form-control w-25 btn-primary my-3" >

    </form>

</section>
{{>footer}}