<footer class="bg-light text-dark text-center p-3 footer navbar-fixed-bottom">
<h5>All rights are reserved Task 3</h5>
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" ></script>

</body>
</html>
